@model IList<Film>
@{
    ViewData["Title"] = "SearchResults";
}

<h2>Search Results</h2>

<table class=" = table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Release Year</th>
            <th>Length</th>
            <th>Rating</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Film film in Model)
        {

            <tr>
                <td> @film.Title</td>
                <td> @film.Description</td>
                <td> @film.ReleaseYear</td>
                <td> @film.Length</td>
                <td> @film.Rating</td>
            </tr>
        }
    </tbody>
</table>

@*@foreach (Film film in Model)
{   
    <p>@film.Title @film.Description @film.ReleaseYear @film.Length  @film.Rating</p>
}*@